.section-copyright {
	padding: 20px;
}

.section-footer {
	color:@white;

	h2 {
		text-transform: uppercase;
		margin-bottom: 40px;
	}
}

.section-promo {
	img {
		max-width: 1090px;
	}
}

.section-wrapper {
	padding: 90px;
}





