.section-copyright {
	padding: 20px;
}

.section-footer {
	color:@white;

	h2 {
		text-transform: uppercase;
	}
}

.section-promo {
	padding: 90px 0;
	
	img {
		max-width: 1090px;
	}
}

.section-wrapper {
	padding: 50px;
}

.slider {
	position: relative;
	height: 600px;
	overflow: hidden;

	.banner-content {
		position: absolute;
		top: 50%;
		left: 30%;
		transform: translate(-50%,-50%);
		z-index: 1;
    max-width: 480px;

		h2 {
			color: @white;
			font-size: 45px;
			line-height: 62px;
			margin-bottom: 35px;
		}
	}

	.custom-navigation {
		position: absolute;
    bottom: 60px;
    width: 100%;

    .flex-prev, .flex-next {
    	display: none;
    }

		.flex-control-paging li a {
			border: 1.5px solid @white;
			background-color: transparent;
		}
		.flex-control-paging li a.flex-active {
			background-color: @white;
		}


	}
}

.section-featured-products {

	h2 {
		text-align: center;
		text-transform: uppercase;
	}
	
	.featured-products-slider {

		.product-holder {
			padding: 0 50px;
			text-align: center;

			p{
				width: 200px;
				margin: 0 auto;
			}

				.img-holder {
					max-width: 250px;
					margin: 0 auto 20px;

					img {
						width: 100%;
					}
				}
		}
		.flex-control-nav {
			bottom: 0;
		}

		.flex-viewport {
			padding-bottom: 2em;
		}
	}
}

.section-about-us {
	.img-holder {
		overflow: hidden;
		max-height: 420px;
	}

	.section-wrapper {
		background-color: #f4f4f4;
		min-height: 400px;
	}
}


